@import url("https://fonts.googleapis.com/css?family=Dosis:300");
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content:left;
  align-items: center;
}

.App {
  background: #27282d;
  height:420px;
  position: relative;
  left: 100px;
  width: 550px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 4px 30px -5px rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  position: relative;
  margin-bottom: 150px;
  width: 340px;
  top: -20px;
}
.inputContainer2{
  position: relative;
  margin-bottom: 150px;
  width: 340px;
  top: -150px;
  font-size:050px;
}

input, button {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1.3px;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input {
  position: relative;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #626571;
  color: #ccced3;
  padding: 12px 6px 12px 36px;
  font-size: 18px;
  outline: none;
  caret-color: #e55b8d;
}

input:focus {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(140deg, #db6241 0%, #e55b8d 100%);
  border-image-slice: 1;
}

input:focus + i {
  color: #ccced3;
}

::placeholder {
  color: #ccced3;
  opacity: 0.4;
}
button:focus{
  color: #db6241;
  outline: none;
}
i {
  color: #626571;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.3s;
}

button {
  background: #33343b;
  position: relative;
  top: 50px;
  left: 60px;
  border: none;
  border-radius: 30px;
  color: #ccced3;
  font-size: 20px;
  padding: 20px 80px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 20px;
  margin-bottom: -30px;
  transition: all 0.3s;
}

button:hover {
  background: #3f4048;
  box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.65);
}
div p{
  position: relative;
  left: 830px;
  top: 250px;
  word-wrap: break-word;
  color: #D2691E;
  font-family: 'Dosis';
  font-style: bold;
  font-size: 50px;
}
div p1{
  position: relative;
  color:#D2691E;
  font-family: 'Dosis';
  font-size: 70px;
  left: 750px;
  top: 200px;
  
}
div h1{
  color: #A2E9DB;
  font-family: "Dosis";
  position: relative;
  font-size: 50px;
  top: -20px;
  text-align: center;
}
@media screen and (max-width: 620px) {
  .App {
    min-height: 300px;
    max-height: 420px;
    width: 90vw;
  }

  .input-container {
    width: 80%;
    margin-bottom: 40px;
  }

  button {
    margin-top: 20px;
    margin-bottom: -40px;
  }
}
